<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="C:\Users\Chibi\Documents\Programming\cs50\finalProject\static\styles.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        
        <script src=C:\Users\Chibi\Documents\Programming\cs50\finalProject\script.js></script>

        <title>CS50 Final Project (Calculator)</title>
    </head>

    <body>
        <div>
        <table class="table">
            <tr>
                <td scope="row"><button type="button" class="btn btn-primary">7</button></td>
                <td><button type="button" class="btn btn-primary">8</button></td>
                <td><button type="button" class="btn btn-primary">9</button></td>
                <td><button type="button" class="btn btn-warning">DEL</button></td>
                <td><button type="button" class="btn btn-warning">AC</button></td>
            </tr>
            <tr>
                <td scope="row"><button type="button" class="btn btn-primary">4</button></td>
                <td><button type="button" class="btn btn-primary">5</button></td>
                <td><button type="button" class="btn btn-primary">6</button></td>
                <td><button type="button" class="btn btn-success">X</button></td>
                <td><button type="button" class="btn btn-success">/</button></td>
            </tr>
            <tr>
                <td scope="row"><button type="button" class="btn btn-primary">1</button></td>
                <td><button type="button" class="btn btn-primary">2</button></td>
                <td><button type="button" class="btn btn-primary">3</button></td>
                <td><button type="button" class="btn btn-success">+</button></td>
                <td><button type="button" class="btn btn-success">/</button></td>
            </tr>
        </table>
        </div>      
    </body>

</html>